*{
    margin: 0;
    padding: 0;
    
}
  
html{
    scroll-behavior: smooth;    
    box-sizing: border-box;
}
  
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1, h2, h3, h4, h5, h6{
    font: bold; 
}

a{
    text-decoration: none;
}

h1{
    font-size: 2em;
}
  
li{
   list-style: none;
}

.boton1{
    background-color: #FD0A0E;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    transition: 0,4s all;
}

.boton1:hover{
    background-color: #0a0908;
    color: #FD0A0E;
    border: 1px solid #FD0A0E;
    padding: 15px;
    
}

.presentacion{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-items: center;

    align-content: center;
    align-items: center;
    text-align: center;    
}

.start{
    display: flex;
    justify-content: flex-start;
}

header, nav, main, footer{
    width: 100%vp;
}
    

header, nav{
    background-color: #0a0908;
    color: white;
    padding: 15px 30px;
}

header{
     
    position: sticky;
    top: 0;
    z-index: 999;
}

header h4{
    color:#9EF01A ;
}
    
nav{
    height: 30px;
    margin-bottom: 10px;

    position: sticky;
    top:110px;
    z-index: 999;

}
nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li a{
    padding: 5px;
    margin-right: 15px;
}

main h2{
    margin: 25px;
    
}

main h6{
    color: gray;
}

#Noticias{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border: #0a0908;    
    margin: 25px;  
}

#Noticias .contenido{
    display: grid;
    grid-template-columns: 2fr 5fr;   

    align-items: center;
    border: 2px solid #FD0A0E ;
    border-radius: 8px; 
    padding: 10px;  
         
} 

main .contenido div {
    margin: 0px 10px 0px 10px;   
}

main .contenido img{
    border: 1px solid #0a0908;
    border-radius: 8px;
    width: 210px;    
}

#Galeria{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;   
    align-items: center;

    border:2px solid white;
    border-radius: 8px;
    background-color: #0a0908;
   
    margin: 15px;
    margin-bottom: 50px;
    padding: 25px;
   
}

#Galeria div{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;   
    align-items: center;

    width: 407px;
    height: 1110px;
}

#Galeria img{
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#Redes {
    margin-left: 25px;
    margin-bottom: 30px;
}

#Redes div i{
    color:#1C9DDA;
    font-size: 3rem;    
}

footer{
    padding: 25px;
    background-color: #BC0000;
    color: white;
    height: 50px;
}